::ng-deep {
  /* // .bs-datepicker {
      position: absolute;
      left: -10rem;
  } */

  .bs-datepicker {
      height: 245px;
  }

  .bs-datepicker-container {
      padding: 5px;
      opacity: 1 !important;
  }

  .bs-datepicker-head {
      height: 30px;
      padding: 2px 10px;
  }

  .bs-datepicker-body {
      padding: 0;
      min-height: auto;
      min-width: auto;
  }

  .bs-datepicker-body table.days span {
      width: 25px;
      height: 25px;
      line-height: 25px;
  }
}

i.fa.fa-calendar-alt {
  color: #21bd8f !important;
}

input:not([disabled])[bsDatepicker]:-moz-read-only {
  background-color: #FFFFFF;
  cursor: pointer;
}

input:not([disabled])[bsDatepicker] {
  background-color: #FFFFFF;
  cursor: pointer;
}

input[disabled][bsDatepicker]:-moz-read-only {
  background-color: #eeeeee;
  cursor: not-allowed;
}

input[disabled][bsDatepicker] {
  background-color: #eeeeee;
  cursor: not-allowed;
}

input {
  padding: 0.15rem 0.6rem;
}


.custom-content {
  position: absolute;
  z-index: 2000;
  top: 240px;
  align-self: center;
  display: flex;
  align-items: center;
  left: 45px;
}
