span {
  color: white;
}

nav {
  height: 60px;
  background-color: #ab00ff !important;
}

.search {
  width: 50%;
  position: relative;
}

.search input {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  position: absolute;
  top: -20px;
}

.search input:focus {
  outline: none;
}

.search button {
  margin: 0;
  width: 20%;
  height: 40px;
  margin-bottom: 2px;
  position: absolute;
  right: 0;
  top: -20px;
  background-color: #ab00ff;
  color: white;
  font-size: 14px;
}

.search button:active {
  background-color: #ab00ff;
}

.search button:focus {
  border-color: #ab00ff;
}

.cart {
  position: relative;
}

.cart a {
  position: absolute;
  top: -15px;
}

.dot {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: block;
  text-align: center;
  color: #ab00ff;
  font-size: 12px;
  top: -15px;
  left: 10px;
}

ul li:nth-of-type(1) {
  margin-right: 40px;
}

nav i {
  color: white;
  font-size: 20px;
}
