<!-- <div class="nav-container" *ngIf="currentUser"> -->
  <!-- <div class="nav-container">
  <div class="nav-header">
    <div (click)="checkNav()" class="header-icon">
      <i
        style="
          align-items: center;
          display: flex;
          justify-content: center;
          color: antiquewhite;
        "
        class="fa fa-bars"
      ></i>
    </div>
  </div>
  <tmss-combobox></tmss-combobox>
  <tmss-text-input></tmss-text-input>
  <tmss-datepicker></tmss-datepicker>
  <nav class="main-menu" [ngStyle]="checkMenu ? { 'width.px': 250 } : ''">
    <ul>
      <li>
        <a routerLink="in-out-gate">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text"> Quản lý xe vào ra </span>
        </a>
      </li>
      <li>
        <a routerLink="employee">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Nhân viên </span>
        </a>
      </li>
      <li>
        <a routerLink="vehicle-card">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Thẻ xe </span>
        </a>
      </li>
      <li>
        <a routerLink="problem-list">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Sự cố </span>
        </a>
      </li>
      <li>
        <a routerLink="price-listaa">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Bảng giá </span>
        </a>
      </li>

      <li>
        <a routerLink="resolve-record">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Giải quyết sự cố </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
</div> -->

<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['home']">Test App</a>
      <div class="search">
        <input type="text" placeholder="Nhập từ khoá..." />
        <button class="tmss-btn btn-outline-primary" >Tìm kiếm</button>
      </div>
      <div class="cart">
        <a routerLink="cart"><i class="bi bi-cart3"></i></a>
        <span class="dot">1</span>
      </div>

      <ul *ngIf="true" class="navbar-nav">

          <li class="nav-item" routerLinkActive="active">
            <a routerLink="register">
              <span class="nav-text"> Đăng ký </span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="login">
              <span class="nav-text"> Đăng nhập </span>
            </a>
          </li>


      </ul>

      <!-- <div *ngIf="true" class="dropdown" dropdown> -->
          <!-- <span class="mr-1"> -->
          <!-- <img src="{{photoUrl || '../../../assets/user.png'}}" alt=""> -->
        <!-- </span> -->
          <!-- <a class=" dropdown-toggle text-light" dropdownToggle> -->
      <!-- Welcome {{authService.decodedToken?.unique_name | titlecase}} -->
    <!-- </a> -->

          <!-- <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['member/edit']"><i class ="fa fa-user"></i>Edit Profile</a>
              <div class="dropdown-divider"> </div>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
          </div> -->
      <!-- </div> -->

      <!-- <form *ngIf="!checkNav()" #loginForm="ngForm" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required >
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required >
          <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form> -->
  </div>
</nav>

