<div class="login">
  <img src="../../../assets/images/background.jpg" alt="" style="width: 100%; height: 100%">
  <div class="login-form">
    <form action="">
      <p class="mt-2">Đăng nhập</p>
      <div class="col-8 mb-4">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter your email...">
      </div>
      <div class="col-8 mb-4">
        <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter your password...">
      </div>
      <div class="form-check col-8 mb-4" style="margin-left: 25px">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" >
          Nhớ mật khẩu
        </label>
      </div>
      <button class="login-button mb-4" type="submit">Đăng nhập</button>
      <p>Chưa có tài khoản? <span style="color: #ab00ff">Đăng ký</span></p>
    </form>
  </div>
</div>
