.login {
  position: relative;
  width: 100%;
}

.login-form {
  width: 35%;
  height: 375px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.login-button {
  width: 63%;
  height: 40px;
  color: white;
  background-color: #ab00ff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form p:nth-of-type(1) {
  font-size: 25px;
}

label,
form p:nth-of-type(2) {
  font-size: 15px;
}
