<!-- <div>
  <div class="menu">
    <img src="../../../assets/images/logo.png" alt="">
    <div class="search">
      <input type="text" placeholder="Nhập từ khoá" />
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" >Tìm kiếm</button>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let item of arr" class="col-lg-2 col-md-3 col-sm-6">
      <item-card [item]="item"></item-card>
  </div>
</div>
<button class="tmss-btn btn-outline-primary mr-2 mt-1">
  <i class="fa tmss-fa fas-search"></i>
  <span class="ml-1">Tìm kiếm</span>
</button>
 -->

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../../assets/images/banner1.jpg" alt="Los Angeles">
      </div>

      <div class="item">
        <img src="../../../assets/images/banner2.jpg" alt="Chicago">
      </div>

      <div class="item">
        <img src="../../../assets/images/banner3.jpg" alt="New york">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="product-category mt-5">
    <h3>Danh mục</h3>
    <ul>
      <li>
        <a routerLink="products">
          <img src="https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn" alt="">
          <p>Thời trang nam</p>
        </a>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn" alt="">
        <p>Thời trang nam</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn" alt="">
        <p>Thời trang nam</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn" alt="">
        <p>Thời trang nam</p>
      </li>
    </ul>
  </div>

  <div class="featured-products mt-5">
    <h3>Sản phẩm nổi bật</h3>
    <ul>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
      <li>
        <img src="https://cf.shopee.vn/file/632abc1ec52c264130c99711ae6b027f" alt="">
        <h4>Điện thoại Iphone 12</h4>
        <p>Đã bán 1k sp</p>
        <p>20.000.000đ</p>
      </li>
    </ul>
  </div>

</div>
