.menu img {
  width: 5%;
}

.menu {
  width: 100%;
  background-color: #ab00ff;
  height: 70px;
  display: flex;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  right: -40px;
}

.carousel-control.left {
  left: -40px;
}

ul li {
  padding: 8px 16px;
  border: 1px solid #ddd;
}

.product-category ul,
.featured-products ul {
  display: flex;
  flex-wrap: wrap;
}

.product-category ul li {
  width: 15%;
  list-style-type: none;
  text-align: center;
}
.product-category ul li img,
.featured-products ul li img {
  width: 100%;
}

.featured-products ul li {
  width: 25%;
  list-style-type: none;
  text-align: center;
}
.featured-products ul li p,
.featured-products ul li p {
  text-align: end;
  color: #ab00ff;
}
