i.fa.fa-angle-down {
  position: absolute;
  right: 12px;
  top: 14px;
  color: gray;
}

//multi dropdown disabled
.trigger-field input.form-control:disabled {
  background-color: #ffffff !important;
  color: #000000;
}

.fas.fa-external-link-alt {
  color: #21bd8f !important;
  font-size: 12px;
  padding-right: 0 !important;
}

.input-group-text.search-text {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #5664d2;
  color: #ffffff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  justify-content: center;
  max-width: calc(1.5em + 1.3rem);
  align-items: center;
}


.fa-trash-alt {
  color: #000 !important;
}

.right-circle-radius {
  span.left-text{
      border-top-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
  }
}

.button-search {
  cursor: pointer;
}

.button-search:hover {
  color: #fff;
  background-color: #5867dd;
}

.hover-search:hover i{
  color: #fff;
}

input:focus{
outline: none;
}



