footer {
  background-color: #ab00ff;
  color: white;
}

.about {
  display: flex;
  justify-content: space-around;
}

.contact {
  text-align: center;
}

.about ul {
  list-style-type: none;
  padding: 0;
}

.about-us a{
  color: white;
}