<footer>
  <hr>
  <div class="about container">
    <div class="about-us">
      <h4>Về chúng tôi</h4>
      <ul>
        <li><a [routerLink]="['introduction']">
          Giới thiệu
        </a></li>
        <li>Kênh người bán</li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="payment">
      <h4>Thanh toán</h4>
      <p>Chúng tôi chỉ nhận thanh toán COD, không có phương thức nào khác <i class="bi bi-emoji-smile"></i></p>
    </div>
    <div class="social-media">
      <h4>Theo dõi chúng tôi trên</h4>
      <ul>
        <li><i class="bi bi-facebook"></i> Facebook</li>
        <li><i class="bi bi-instagram"></i> Instagram</li>
      </ul>
    </div>
  </div>

  <hr>
  <div class="contact container">
    <p>Tổng đài hỗ trợ: 113</p>
    <p>Email: bimat@nuce.edu.vn</p>
    <p>Địa chỉ: 55 Giải Phóng, Hai Bà Trưng, Hà Nội</p>
    <p>@2021 - Bản quyền thuộc nhóm 13 lớp 61PM1</p>
  </div>
</footer>
