.ag-in-cell-button {
  border-radius: 4px;
  flex: 1;
  justify-content: center;
  padding: 0 !important;
  align-items: center;
}

.ag-in-cell-button[disabled] {
  border-color: #7C8C9E;
  cursor: not-allowed;
}
button {
font-size: 0.9rem;
height: 23px !important;
}
