<app-navbar [checkMenu]="checkMenu" (changeMenu)="changeMenu($event)"></app-navbar>
<div >
    <router-outlet></router-outlet>
    <!-- <grid-table [columnDefs]="columnDefs" [rowData]="pagedRowData" [height]="'200px'" [defaultColDef]="defaultColDef" [paginationParams]="paginationParams" (changePaginationParams)="changePaginationParams($event)" (callBackEvent)="callBackEvent($event)"></grid-table> -->
</div>
<app-footer></app-footer>
