<div class="register">
  <img src="../../../assets/images/background.jpg" alt="" style="width: 100%; height: 100%">
  <div class="register-form">
    <form action="">
      <p class="mt-2">Đăng ký</p>
      <div class="col-12 mb-4 mt-4" style="display: flex;">
        <div class="col-6">
          <div class="col-8 mb-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Enter your email...">
          </div>
          <div class="col-8 mb-4">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter your password...">
          </div>
          <div class="col-8 mb-4">
            <label class="form-label">Số điện thoại</label>
            <input type="number" class="form-control" placeholder="Enter your phone number...">
          </div>
        </div>
        <div class="col-6">
          <div class="col-8 mb-4">
            <label class="form-label">Họ</label>
            <tmss-text-input type="text" class="form-control" placeholder="Enter your first name..." [(ngModel)]="firstName"></tmss-text-input>
          </div>
          <div>
            <tmss-text-input></tmss-text-input>
          </div>
          <div class="col-8 mb-4">
            <label class="form-label">Tên</label>
            <input type="text" class="form-control" placeholder="Enter your last name...">
          </div>
          <div class="col-8 mb-4">
            <label class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" placeholder="Enter your phone address...">
          </div>
        </div>
      </div>
      <button class="register-button mb-4" type="submit">Đăng ký</button>
      <p>Bạn đã có tài khoản? <span style="color: #ab00ff">Đăng nhập</span></p>
    </form>
  </div>
</div>
